html {
    background-color: #fff;
}
body {
    position: relative;
}
/*
    https://medium.com/front-end-weekly/absolute-centering-in-css-ea3a9d0ad72e
*/

/*
    Dialogs
*/
.dialog-hide {
    display: none;
}
/* Course lesson dialog */
.dialog-course-add-lesson {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 28em;
    width: 40em;
}
.dialog-course-add-lesson > div {
    background-color: #DFDFDF;
    border-width: 1px;
    border-color: darkgrey;
    border-style: solid;
    height: 28em;
    width: 40em;
}
.dialog-course-add-lesson-header {
    width: 100%;
    height: 2em;
    background-color: #7152D9;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;

}
.dialog-course-add-lesson > div > textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    width: calc(100% - 2em - 2em);
    resize: none;
}
#dialog-course-add-lesson-theme {
    margin-top: 1.5em;
    height: 2.5em;
}
#dialog-course-add-lesson-purpose {
    margin-top: 0.25em;
    height: 7.5em;
}
.dialog-course-add-lesson-position {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    margin-top: 1.25em;
    margin-left: 2em;
}
.dialog-course-add-lesson-position > p {
    margin-top: 0.5em;
}
#add-lessson-to-course-position-value {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.87em;
    margin-left: 0.5em;
    width: 5em;
}
.dialog-course-add-lesson-actions {
    margin-top: 2em;
    margin-right: 2.3em;
    height: 2em;
}
.dialog-course-add-lesson-actions > button {
    width: 4.75em;
    height: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    float: right;
    margin-left: 0.5em;
}

/* Stream Lesson Dialog */
.dialog-stream-add-lesson {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 34em;
    width: 40em;
}
.dialog-stream-add-lesson > div {
    background-color: #DFDFDF;
    border-width: 1px;
    border-color: darkgrey;
    border-style: solid;
    height: 34em;
    width: 40em;
}
.dialog-stream-add-lesson-header {
    width: 100%;
    height: 2em;
    background-color: #7152D9;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
}
.dialog-stream-add-lesson > div > textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    width: calc(100% - 2em - 2em);
    resize: none;
}
#dialog-stream-add-lesson-theme {
    margin-top: 1.5em;
    height: 2.5em;
}
#dialog-stream-add-lesson-purpose {
    margin-top: 0.25em;
    height: 7.5em;
}
.dialog-stream-add-lesson-date {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    margin-top: 1.25em;
    margin-left: 2em;
}
.dialog-stream-add-lesson-time {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    margin-top: 0.25em;
    margin-left: 2em;
}
.dialog-stream-add-lesson-position {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    margin-top: 1.25em;
    margin-left: 2em;
}
.dialog-stream-add-lesson-position > p {
    margin-top: 0.5em;
}
#add-lessson-to-stream-position-value {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.87em;
    margin-left: 0.5em;
    width: 5em;
}
.dialog-stream-add-lesson-actions {
    margin-top: 2em;
    margin-right: 2.3em;
    height: 2em;
}
.dialog-stream-add-lesson-actions > button {
    width: 4.75em;
    height: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    float: right;
    margin-left: 0.5em;
}

.main {
    width: 1100px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "logo"
        "menu"
        "content";
    grid-template-rows: 4em 2em auto;
    grid-template-columns: 1fr;
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
    position: relative;
}
.logo {
    grid-area: logo;
    background-color: #7152D9;
    line-height: 4em;
}
.logo a {
    color:#ECECEC;
    font-size: 2.85em;
    text-decoration: none;
    margin-left: 0.25em;
}
.menu {
    grid-area: menu;
    background-color: #ECECEC;
}
.menu-item {
    color: black;
    font-size: 1em;
    text-decoration: none;
    line-height: 2em;
    margin-left: 1em;
}
.menu-item:hover {
    color:#FCAC45
}
.menu-item-toggle {
    display: none;
}
.login {
    grid-area: content;
    width: 13em;
}
.login input {
    display: block;
    width: 13em;
    margin-left: 2em;
    margin-top: 0.75em;
}
.login button {
    display: block;
    width: 13em;
    margin-left: 2em;
    margin-top: 0.75em;
}
.activecourses {
    grid-area: content;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2em;
    box-sizing: border-box;
}
.activecourses p {
    font-size: 2em;
    color: cornflowerblue;
    padding-bottom: 1em;
}
.activecourses-item {
    display: grid;
    grid-template-areas:
        "image name"
        "image owner";
    grid-template-rows: 40px 40px;
    grid-template-columns: 80px auto;
}
.activecourses-item-image {
    grid-area: image;
}
.activecourses-item-name {
    grid-area: name;
    font-size: 2em;
    color: #5C5C5C;
    cursor: pointer;
    text-decoration: none;
}
.activecourses-item-name:hover {
    color: orange;
}
.activecourses-item-name:active {
    color: orangered;
}
.activecourses-item-owner {
    grid-area: owner;
    color: #ACACAC;
    cursor: pointer;
}
.activecourses-item-owner:hover {
    color: orange;
}
.activecourses-item-owner:active {
    color: orangered;
}
.activestreams {
    grid-area: content;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2em;
    box-sizing: border-box;
}
.activestreams p {
    font-size: 2em;
    color: cornflowerblue;
    padding-bottom: 1em;
}
.activestreams-item {
    display: grid;
    grid-template-areas:
        "image name"
        "image owner"
        "image state"
        "image period";
    grid-template-rows: 40px 1em 1em 1em;
    grid-template-columns: 80px auto;
    margin-bottom: 2em;
}
.activestreams-item-image {
    grid-area: image;
}
.activestreams-item-name {
    grid-area: name;
    font-size: 2em;
    color: #5C5C5C;
    cursor: pointer;
    text-decoration: none;
}
.activestreams-item-name:hover {
    color: orange;
}
.activestreams-item-name:active {
    color: orangered;
}
.activestreams-item-owner {
    grid-area: owner;
    color: #ACACAC;
}
.activestreams-item-state {
    grid-area: state;
    color: blue;
}
.activestreams-item-state:hover {
    cursor: pointer;
}
.activestreams-item-period {
    grid-area: period;
    color: #ACACAC;
    font-size: 0.85em;
}
.subscribing-panel {
    grid-area: content;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2em;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "greeting"
        "name"
        "owner"
        "start"
        "finish"
        "link";
    grid-template-rows: 2.25em 2.25em 3em 1.5em 2.5em 1em;
    grid-template-columns: 1fr;
}
.subscribing-panel-greeting {
    grid-area: greeting;
    font-size: 1.75em;
}
.subscribing-panel-name {
    grid-area: name;
    font-size: 1.75em;
}
.subscribing-panel-owner {
    grid-area: owner;
    font-size: 1.25em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.subscribing-panel-start {
    grid-area: start;
    font-size: 1em;
}
.subscribing-panel-finish {
    grid-area: finish;
    font-size: 1em;
}
.subscribing-panel-link {
    grid-area: link;
    font-size: 1em;
}
.course-public-panel {
    grid-area: content;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2em;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "name"
        "author"
        "description"
        "lessons";
    grid-template-rows: 2.75em 2em auto 1fr;
    grid-template-columns: 1fr;
}
.course-public-panel-name {
    grid-area: name;
    font-size: 1.75em;
}
.course-public-panel-author {
    grid-area: author;
    font-size: 1em;
}
.course-public-panel-description {
    grid-area: description;
    font-size: 1.25em;
    font-weight: 100;

}
.course-public-panel-lessons {
    grid-area: lessons;
    font-size: 1.25em;
    overflow-y: scroll;
    padding-top: 1em;
    padding-left: 1em;
}
.course-public-lesson-number {
    display: inline-block;
    font-size: 1em;
    background-color: rgb(207, 135, 248);
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    margin-right: 0.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.25em;
}
.course-public-lesson-theme {
    display: inline-block;
    font-size: 1em;
}
.course-public-lesson-purpose {
    font-size: 0.85em;
    padding-left: 2.0588em;
}
/*
    Public stream details info
*/
.stream-public-panel {
    grid-area: content;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2em;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "name"
        "author"
        "state"
        "period"
        "lessons";
    grid-template-rows: 2.75em 2em 2em 2em 1fr;
    grid-template-columns: 1fr;
}
.stream-public-panel-name {
    grid-area: name;
    font-size: 1.75em;
}
.stream-public-panel-author {
    grid-area: author;
    font-size: 1em;
}
.stream-public-panel-state {
    grid-area: state;
    font-size: 1em;
}
.stream-public-panel-period {
    grid-area: period;
    font-size: 1em;
}
.stream-public-panel-lessons {
    grid-area: lessons;
    font-size: 1.25em;
    overflow-y: scroll;
    padding-top: 1em;
    padding-left: 1em;
}
.stream-public-lesson-number {
    display: inline-block;
    font-size: 1em;
    background-color: rgb(207, 135, 248);
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    margin-right: 0.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.25em;
}
.stream-public-lesson-theme {
    display: inline-block;
    font-size: 1em;
}
.stream-public-lesson-purpose {
    font-size: 0.85em;
    padding-left: 2.0588em;
    padding-bottom: 0.15em;
}
.stream-public-lesson-duedate {
    font-size: 0.75em;
    padding-left: 2.3333em;
}
/*
    My Courses
*/
.mycourses {
    grid-area: content;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2em;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "header"
        "courses";
    grid-template-rows: 2.75em 1fr;
    grid-template-columns: 1fr;
}
.mycourses-header {
    grid-area: header;
    font-size: 1.75em;
}
.mycourses-courses {
    grid-area: courses;
}
.mycourses-course {
    margin-bottom: 1em;
}
.mycourses-course-name {
    font-size: 1.5em;
    padding-bottom: 0.25em;
}
.mycourses-course-description {
    font-size: 1em;
    padding-bottom: 0.25em;
}
.mycourses-course-streams {
    text-decoration: none;
    color: blue;
    display: inline-block;
    padding-right: 1em;
}
.mycourses-course-lections {
    text-decoration: none;
    color: blue;
    display: inline-block;
}
/*
    My Streams
*/
.mystreams {
    grid-area: content;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2em;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "header"
        "streams";
    grid-template-rows: 2.75em 1fr;
    grid-template-columns: 1fr;
}
.mystreams-header {
    grid-area: header;
    font-size: 1.75em;
}
.mystreams-streams {
    grid-area: streams;
}
.mystreams-stream {
    margin-bottom: 1em;
}
.mystreams-stream-name {
    font-size: 1.5em;
    padding-bottom: 0.25em;
}
.mystreams-stream-state {
    font-size: 1em;
    padding-bottom: 0.25em;
}
.mystreams-stream-period {
    font-size: 1em;
    padding-bottom: 0.25em;
}
.mystreams-stream-course {
    display: inline-block;
    text-decoration: none;
    color: blue;
    padding-right: 1em;
}
.mystreams-stream-students {
    display: inline-block;
    text-decoration: none;
    color: blue;
    padding-right: 1em;
}
.mystreams-stream-lections {
    display: inline-block;
    text-decoration: none;
    color: blue;
}
/*
    Course description
*/
.mycourse {
    grid-area: content;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2em;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "name"
        "state"
        "description"
        "action"
        "lessons";
    grid-template-rows: 2.75em 2em auto 2em 1fr;
    grid-template-columns: 1fr;
}
.mycourse-name {
    grid-area: name;
    font-size: 1.75em;
}
.mycourse-state {
    grid-area: state;
    font-size: 1em;
    color: red;
}
.mycourse-description {
    grid-area: description;
    font-size: 1.25em;
    font-weight: 100;
}
.mycourse-action-add {
    grid-area: action;
    text-decoration: none;
    color: blue;
    align-self: end;
}
.mycourse-lessons {
    grid-area: lessons;
    font-size: 1.25em;
    overflow-y: scroll;
    padding-top: 1em;
    padding-left: 1em;
}
.mycourse-lesson-orderno {
    display: inline-block;
    font-size: 1em;
    background-color: rgb(207, 135, 248);
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    margin-right: 0.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.25em;
}
.mycourse-lesson-theme {
    display: inline-block;
    font-size: 1em;
}
.mycourse-lesson-purpose {
    font-size: 0.85em;
    padding-left: 2.0588em;
    padding-bottom: 0.5em;
}
.mycourse-stream-item {
    font-size: 0.85em;
    padding-left: 2.0588em;
}
.mycourse-lesson-delete {
    display: inline-block;
    font-size: 0.8em;
    padding-left: 2.0588em;
    padding-bottom: 1em;
    text-decoration: none;
    color: blue;
}
.mycourse-lesson-materials {
    display: inline-block;
    font-size: 0.8em;
    padding-left: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    color: blue;
}
/*
    Stream description
*/
.mystream {
    grid-area: content;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2em;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "name"
        "state"
        "period"
        "action"
        "lessons";
    grid-template-rows: 2.75em 2em 2em 2em 1fr;
    grid-template-columns: 1fr;
}
.mystream-name {
    grid-area: name;
    font-size: 1.75em;
}
.mystream-state {
    grid-area: state;
    font-size: 1em;
    color: red;
}
.mystream-period {
    grid-area: period;
    font-size: 1em;
}
.mystream-action-add {
    grid-area: action;
    text-decoration: none;
    color: blue;
    align-self: end;
}
.mystream-lessons {
    grid-area: lessons;
    font-size: 1.25em;
    overflow-y: scroll;
    padding-top: 1em;
    padding-left: 1em;
}
.mystream-lesson-orderno {
    display: inline-block;
    font-size: 1em;
    background-color: rgb(207, 135, 248);
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    margin-right: 0.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.25em;
}
.mystream-lesson-theme {
    display: inline-block;
    font-size: 1em;
}
.mystream-lesson-purpose {
    font-size: 0.85em;
    padding-left: 2.0588em;
    padding-bottom: 0.5em;
}
.mystream-lesson-duedate {
    font-size: 0.85em;
    padding-left: 2.0588em;
    padding-bottom: 0.5em;
}
.mystream-lesson-delete {
    display: inline-block;
    font-size: 0.8em;
    padding-left: 2.0588em;
    padding-bottom: 1em;
    text-decoration: none;
    color: blue;
}
.mystream-lesson-materials {
    display: inline-block;
    font-size: 0.8em;
    padding-left: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    color: blue;
}
